
<div class="home-component">
    <div>
        <app-search-bar></app-search-bar>
    </div>

    <div>
    <app-navbar></app-navbar>
    </div>
    <h1 style="text-align: center;">Welcome to Mweela Junior Supplies</h1>
    <div class="data-cards">
        <app-data-card
            [image]="'/kasuku-A4.png'" 
            [price]="'1200 USD'"
            [description]="'A4 size ruled book'">
        </app-data-card>

        <app-data-card
            [image]="'/kasuku-A4.png'" 
            [price]="'1200 USD'"
            [description]="'A4 size ruled book'">
        </app-data-card>

        <app-data-card
            [image]="'/kasuku-A4.png'" 
            [price]="'1200 USD'"
            [description]="'A4 size ruled book'">
        </app-data-card>

        <app-data-card
            [image]="'/kasuku-A4.png'" 
            [price]="'1200 USD'"
            [description]="'A4 size ruled book'">
        </app-data-card>

        <app-data-card
            [image]="'/kasuku-A4.png'" 
            [price]="'1200 USD'"
            [description]="'A4 size ruled book'">
        </app-data-card>

        <app-data-card
            [image]="'/kasuku-A4.png'" 
            [price]="'1200 USD'"
            [description]="'A4 size ruled book'">
        </app-data-card>
    </div>

</div>


