.data-card{
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    border: 2px solid #f9f9f9;
    background-color: aquamarine;
}

.data-cards{
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    object-fit: contain;
}

.item-name{
    font-weight: bold;
    font-size: 1.2rem;
    color: goldenrod;
    text-align: center;
}