.navbar-component {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff99dd;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000; /* 👈 ensures it's above other elements */
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 2rem; /* smaller, cleaner spacing */
}

.nav-link {
  color: green;
  font-family: IBM, sans-serif;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  text-decoration: underline;
}

.nav-link:hover {
  color: darkgreen;
  text-decoration: none;
}
